.summarizeSection {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 50px;
    padding-bottom: 50px;
}

.summerizeText {
    font-size: 60px;
    font-weight: bolder;
}

.aboutMeSection {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-left: 50px;
}

.aboutMePicture {
    height: 400px;
    width: 400px;
    object-fit: cover;
    image-rendering: optimizeQuality;
    border-radius: 30px;
}

.btnsAboutMe {
    margin-top: 20px;
    margin-left: 0;
}

.iconContainer {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    gap: 80px;
    justify-content: center;
}
.skillsIcon {
    height: 128px;
    width: 128px;
}

.skillsIcon:hover {
    transition: all 1s;
    transform-origin: 50% 50%;
    transform: scale(1.2);
    cursor: pointer;
}

.projectSection {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.projectContainer {
    padding: 20px;
    background-color: #23253A;
}

.projectImg {
    height: 264px;
    width: 400px;
    object-fit: cover;
    border-radius: 10px;
}

.projectContentContainer {
    display: flex;
    gap: 20px;
}

.projectButtonContainer {
    margin-top: 20px;
}

.contactFormContainer {
    display: flex;
    justify-content: center;
    background-color: #23253A;
    padding: 70px;
    border-radius: 14px;
}

#contactForm {
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
}

.formFlex {
    display: flex;
    gap: 10px;
}
.aboutMeText {
    font-size: 18px;
}

@media(max-width: 760px){
    .aboutMeSection {
        display: flex;
        flex-direction: column;
    }
    .summerizeText {
        font-size: 40px;
        font-weight: bolder;
    }
    .aboutMePicture {
        height: 300px;
        width: 300px;
        border-radius: 30px;
    }
    .aboutMeText {
        font-size: 12px;
    }
    h2 {
        font-size: 14px;
    }
    .sectionHeadline {
        font-size: 18px;
        margin: 0;
    }
    .skillsIcon {
        height: 96px;
        width: 96px;
    }
    .projectText {
        font-size: 12px;
    }
    .projectImg {
        height: 200px;
        width: 300px;
        object-fit: cover;
        border-radius: 10px;
    }
    .iconContainer {
        margin-top: 40px;
        margin-bottom: 40px;
        display: flex;
        gap: 60px;
    }
    .skillSection {
        margin-top: 30px;
    }
    .contactSection {
        margin-top: 30px;
    }
}

@media(max-width: 520px) {
    .skillsIcon {
        height: 64px;
        width: 64px;
    }
    .iconContainer {
        margin-top: 30px;
        margin-bottom: 30px;
        display: flex;
        gap: 40px;
    }
    .projectContentContainer {
        display: flex;
        flex-direction: column;
    }
    .aboutMeSection {
        margin-left: 0;
    }
    .summarizeSection {
        margin-left: 0;
    }
    header {
        margin-left: 0 !important;
    }
}

@media(max-width: 400px) {
    .projectImg {
        height: 200px;
        width: 200px;
        object-fit: cover;
        border-radius: 10px;
    }
    .summerizeText {
        font-size: 24px;
    }
    .portfolioHeadline {
        font-size: 28px;
    }
    .aboutMePicture {
        height: 220px;
        width: 220px;
    }
}