footer {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: var(--link-hover-color);
    text-decoration: underline;
}