header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 15px;
}

.navigation {
    margin-left: 5px;
}

.navigation a {
    text-decoration: none;
    color: white;
    margin-left: 10px;
}

.navigation a:hover {
    text-decoration: underline;
    color: var(--link-hover-color);
}

.burgerMenu {
    height: 32px;
    width: 32px;
    display: none;
}

.mobileNavigation {
    background-color: rgb(75, 74, 77);
    margin: 0 !important;
    display: none;
}

.mobileNavigationLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.mobileNavigationLinks a {
    height: 40px;
    text-decoration: none;
    color: white;
}

.mobileNavigationLinks a:hover {
    text-decoration: underline;
}

@media(max-width: 760px){
    .navigation a {
        display: none;
    }
    .burgerMenu {
        display: block;
    }
    .burgerMenu:hover {
        cursor: pointer;
    }
}