header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 15px;
}

.navigation {
    margin-left: 5px;
}

.navigation a {
    text-decoration: none;
    color: white;
    margin-left: 10px;
}

.navigation a:hover {
    text-decoration: underline;
    color: var(--link-hover-color);
}