:root {
    --link-color: white;
    --link-hover-color:#55AADC;
}


body {
    margin-left: 25px;
    margin-right: 25px;
    font-family: Inter;
    background-color: #0F152E;
    color: white;
}

.sectionHeadline {
    font-size: 32px;
    margin-left: 50px;
}

.centerSingleElement {
    display: flex;
    justify-content: center;
}

